

.quality-control {
    display: none; /* Hide initially */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.close-btn {
    margin-top: 10px;
    cursor: pointer;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
}

#desktop-view {
    background: black;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

#DeskFocus {
    overflow: hidden;
    color: transparent;
    border: 3px dotted rgba(255,0,0,.2);
    position: absolute;
    border-radius: 5px;
}

#bigfail, #p11bigfail, #p13bigfail {
    width: 256px;
    overflow: hidden;
    position: absolute;
    left: 337px;
    top: 20px;
    text-align: center;
    font-size: 1600%;
    color: #AAAAAA;
    z-index: 99999;
}

.fulldesk #p11 {
    height: 100%;
}
