:root {
  --bg-color-light: #f8f9fa;
  --text-color-light: #212529;
  --bg-color-dark: #343a40;
  --text-color-dark: #ffffff;
  --bg-color-blue: #007bff;
  --text-color-blue: #ffffff;
  --topbar-height: 60px;
}

.tab {
  background-color: #444;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.tab:hover {
  background-color: #007bff;
}

.toolbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dcdcdc;
  /* fallback if var fails */
  color: #2A51BC;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 8px;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s;
  cursor: grab;
  width: 500px;
}

.toolbar button {
  padding: 3px 5px;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
}

.toolbar button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  opacity: 0.8;
}

.toolbar.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.toolbar.blue-mode {
  background-color: var(--bg-color-blue);
  color: var(--text-color-blue);
}


.hidden {
  opacity: 0;
  pointer-events: none;
}

#menucir {
  width: 20px;
  height: 10px;
  background-color: #12a629;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  top: -2px;
  left: 50%;
  position: absolute;
  box-shadow: 0px 3px 2px #aaa, inset 0px 2px 3px #fff;
}

.conn_status {
  width: 20px;
  height: 20px;
  background-color: #12a629;
  border-radius: 50%;
  float: left;
  cursor: auto;
  top: 5px;
}